version: 2
jobs:
  build:
    docker:
      - image: xd009642/tarpaulin

    steps:
      - checkout

      - restore_cache:
          key: project-cache

      - run:
          name: Nightly Build
          command: |
            rustup run nightly rustc --version --verbose
            rustup run nightly cargo --version --verbose
            rustup run nightly cargo build

      - run:
          name: Test
          command: rustup run nightly cargo test

      - save_cache:
          key: project-cache
          paths:
            - "~/.cargo"
            - "./target"

